*swipl/

*.vscode
*.vcxproj*                  
*.sln                       
*.vcuser*                   
*.opensdf *.sdf             
*.ipch *.pch *.ncb          
*.suo *.user *.userosscache 
*.vscode/
